ion-content {

  ion-icon{
    color: #ffff;
    margin-top: 5px;
  }
  *{
    font-family: lato;
  }
  .main-header{
    height:10vh;
    width:120%;
    background:linear-gradient(90deg,var(--ion-color-primary) 0%,var(--ion-color-primary) 100%);
    box-shadow:0 1px 10px var(--ion-color-light);
    margin-left:-4.5vh;
    margin-top: -5px;
    div {
      transform: translateY(2vh);

    }
  }

  .card-wallet{
    position: absolute;
    margin-top: 52px;
    width: 90%;
    height: 15%;
    left: 50%;
    transform: translateX(-50%);
    background:#3bd6c6;
    border-radius: 0.5rem 0.5rem 0.5rem ;
    box-shadow: 0 4px 4px 0 rgba(41, 33, 33, 0.1);

  }

}






