
<ion-content [fullscreen]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
    <ion-button>
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-grid class="main-header">
  <div align="center">
    <ion-avatar>
      <img src="../../assets/budgeting (3).png"/>
    </ion-avatar>
  </div>
</ion-grid>


<ion-list>
  <ion-item>
    <ion-label stacked>
      Email
    </ion-label>
    <ion-input [disabled]="isDisbled" [(ngModel)]="email" type="email" pattern="[^ @]*@[^ @]*.[^@]*" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked>
      text
    </ion-label>
    <ion-input [disabled]="isDisbled" [(ngModel)]="text" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked>
      password
    </ion-label>
    <ion-input [disabled]="isDisbled" [(ngModel)]="pwd" type="password"></ion-input>
  </ion-item>

  <ion-item button="true" id="open-date-input">
    <ion-label>Date</ion-label>
    <ion-text slot="end">{{ dateValue }}</ion-text>
    <ion-popover trigger="open-date-input" show-backdrop="false">
      <ng-template>
        <ion-datetime
          #popoverDatetime
          presentation="date"
          (ionChange)="dateValue = formatDate(popoverDatetime.value)"
        ></ion-datetime>
      </ng-template>
    </ion-popover>
  </ion-item>
  <ion-item>
    <ion-label stacked>
      Type
    </ion-label>
    <ion-select [disabled]="isDisbled" [(ngModel)]="option" interface="action-sheet" >
      <ion-option value="A">Option A</ion-option>
      <ion-option value="B">Option B</ion-option>
    </ion-select>
  </ion-item>
</ion-list>

</ion-content>
